<div class="container p-0">
    <div class="additional-materials wow slideInUp" data-wow-duration="2s" data-wow-delay=".7s">
        <div class="description-head pt-5 mt-5">Дополнительные материалы</div>
        <div class="block-download-doc">
            <div class="description-head description-head__white">Оборудование на базе «ИЦ «МКТ»</div>
            <img class ="doc-icon" src="img/doc-icon.svg">
            <div class="download-button">
                <div class="doc-download-icon">
                    <div class="ellipce">
                        <img src="img/Ellipse.svg">
                    </div>
                    <div class="download-arrow" data-wow-duration="1s" data-wow-delay="2s">
                        <img src="img/Download.svg">
                    </div>
                    <div class="download-line">
                        <img src="img/line-download.svg">
                    </div>
                </div>
                <div class="application-industries-grid__item-name pl-4">
                    Скачать документ (PDF, 7 Mb)
                </div>
            </div>
        </div>
    </div>
</div>
