<script src="js/main.min.js"></script>
<div class="footer-nav">
    <a class="footer-nav-menu-items desc-hide" href="https://rowstudio.ru/" target="_blank">Сайт разработан: <img class ="ml-2" src="img/rowstudio.svg"></a>
    <div class="footer-nav-text">
            <div class="footer-nav-menu footer-nav-menu_big">
                <a class="footer-nav-menu-item">О компании</a >
                <a class="footer-nav-menu-items" href="#">Информация</a>
                <a class="footer-nav-menu-items" href="#">Снабжение и логистика</a>
                <a class="footer-nav-menu-items" href="#">Производственный участок</a>
                <a class="footer-nav-menu-items" href="#">Политика конфиденциальности</a>
            </div>
            <div class="footer-nav-menu footer-nav-menu_big">
                <a class="footer-nav-menu-item">Услуги</a>
                <a class="footer-nav-menu-items" href="#">Монтажные работы</a>
                <a class="footer-nav-menu-items" href="#">Проектирование</a>
                <a class="footer-nav-menu-items" href="#">Поставка оборудования</a>
                <a class="footer-nav-menu-items" href="#">Проекты под ключ</a>
            </div>
            <div class="footer-nav-menu footer-nav-menu_big">
                <a class="footer-nav-menu-item">Энергоэффективность</a>
                <a class="footer-nav-menu-items" href="#">Swedish Neutral</a>
                <a class="footer-nav-menu-items" href="#">RU DRIVE</a>
            </div>
            <div class="footer-nav-menu footer-nav-menu_small">
                <a class="footer-nav-menu-item">Продукция</a>
                <a class="footer-nav-menu-items" href="#">БЭМП</a>
                <a class="footer-nav-menu-items" href="#">МКТ</a>
                <a class="footer-nav-menu-items" href="#">ENSTO</a>

            </div>
            <div class="footer-nav-menu footer-nav-menu_big">
                <a class="footer-nav-menu-item">Контакты</a>
                <a class="footer-nav-menu-items" href="#">Иркутск, ул.Верхняя Набережная 161/16, 1 этаж офис №7</a>
                <a class="footer-nav-menu-items" href="#">8 (3952) 65-22-50</a>
                <a class="footer-nav-menu-items" href="#">mkl-Irkutsk@yandex.ru</a>
                <a class="footer-nav-menu-items" href="https://rowstudio.ru/" target="_blank">Сайт разработан: <img src="img/rowstudio.svg"></a>
            </div>
    </div>
    <div class="cont-map">
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A58b1e27423306c5f7f929a1595cb617125c82e07d6733c382e003dea71b810ed&amp;width=600&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script></div>
               </div>
                    <div class="cont-map-responsive">
                    <div class="map-responsive">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4e5cc47f3fddb9ca448406bf8068f94f3c6c9706f0ec4f156416b03cfed54d92&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script></div>
</div>
</div>