<div class="header-nav">
    <a class="header-nav-logo" href="index.html">
        <img src="img/logo.png">
    </a>
    <a class="header-nav-logo-mob" href="index.html">
        <img src="img/logo-mobile.svg">
        <img class="ml-3" src="img/liner-mobile.svg">
    </a>
    <div class="header-nav-menu header-nav-menu-desktop">
        <a class="header-nav-menu-items" href="about.html">О компании</a>
        <div class="header-nav-menu-relative"><a class="header-nav-menu-items header-nav-menu-items_nested" href="#">Услуги</a><div class="header-nav-menu-absolute">
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="installation-works.html">Монтажные работы</a>
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="projection.html">Проектирование</a>
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="equipment-supply.html">Поставка оборудования</a>
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="key's-project.html">Прокты под ключ</a>
        </div></div>
        <div class="header-nav-menu-relative"><a class="header-nav-menu-items header-nav-menu-items_nested" href="#">Энергоэффективность</a><div class="header-nav-menu-absolute">
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="swedish-neutral.html">Swedish Neutral</a>
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="ru-drive.html">RU-DRIVE</a>
        </div></div>
        <div class="header-nav-menu-relative-last"><a class="header-nav-menu-items header-nav-menu-items_nested" href="#">Продукция</a><div class="header-nav-menu-absolute-last">
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="bamp.html">БЭМП</a>
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="mkt.html">ИЦ МКТ</a>
            <a class="header-nav-menu-items transform-none pt-2 pl-0 pr-0" href="ensto.html">ENSTO</a>
        </div></div>
        <a class="header-nav-menu-items" href="index.html#item1">География</a>
        <a class="header-nav-menu-items header-nav-menu-scroll" href="#item2">Контакты</a>
    </div>
    <div class="header-nav-contacts">
        <a class="header-nav-contacts-number pr-5" href="#">+7 (3952) 65-22-50</a>
        <div class="header-nav-contacts-language lang-active pr-3">RU</div>
        <div class="header-nav-contacts-language">ENG</div>
        <div class="header-nav-burger">
            <div class="header-nav-burger-line-1"></div>
            <div class="header-nav-burger-line-2"></div>
            <div class="header-nav-burger-line-3"></div>
        </div>
    </div>
</div>
<div class="header-nav-mobile">
    <div class="burger-flexbox">
    <div class="footer-nav-menu footer-nav-menu_big">
        <a class="burger-nav-menu-item">О компании</a >
        <a class="burger-nav-menu-items" href="about.html">Информация</a>
        <a class="burger-nav-menu-items" href="installation-works.html">Монтажные работы</a>
        <a class="burger-nav-menu-items" href="projection.html">Проектирование</a>
        <a class="burger-nav-menu-items" href="equipment-supply.html">Поставка оборудования</a>
        <a class="burger-nav-menu-items" href="key's-project.html">Проекты под ключ</a>
    </div>
    </div>
    <div class="burger-flexbox">
    <div class="footer-nav-menu footer-nav-menu_big">
        <a class="burger-nav-menu-item">Энергоэффективность</a>
        <a class="burger-nav-menu-items" href="swedish-neutral.html">Swedish Neutral</a>
        <a class="burger-nav-menu-items" href="ru-drive.html">RU DRIVE</a>
    </div>
    <div class="footer-nav-menu footer-nav-menu_small">
        <a class="burger-nav-menu-item">Продукция</a>
        <a class="burger-nav-menu-items" href="bamp.html">БЭМП</a>
        <a class="burger-nav-menu-items" href="mkt.html">МКТ</a>
        <a class="burger-nav-menu-items" href="ensto.html">ENSTO</a>
    </div>
    </div>
    <div class="burger-flexbox mob-hide">
    <div class="footer-nav-menu footer-nav-menu_big">
        <div class="burger-nav-menu-item">Контакты</div>
        <div class="service-text font-weight-bold p-0">Адрес</div>
        <div class="burger-flexbox-contacts">Иркутск, ул.Верхняя Набережная 161/16, 1 этаж офис №7</div>
        <div class="service-text font-weight-bold p-0">Время работы</div>
        <div class="burger-flexbox-contacts">9:00 – 18:00; суббота и воскресенье – выходные дни</div>
        <div class="service-text font-weight-bold p-0">Электронная почта</div>
        <div class="burger-flexbox-contacts">mkl-Irkutsk@yandex.ru</div>
    </div>
    </div>
    <div class="contacts-for-mobile mx-auto">
    <div class="burger-flexbox-contacts text-center">Задайте вопрос: +7 (3952) 65-22-50</div>
    <div class="footer-nav-menu-items text-center mt-4 pt-3">Сайт разработан: <img class="ml-2" src="img/rowstudio.svg"></div>
    </div>
</div>