<div class="container flex wow slideInUp" data-wow-duration="2s" data-wow-delay=".7s" id="item2">
    <div class="learn-more-form without-padding">
        <div class="learn-more-form-text">Узнать подробнее</div>
        <div class="contacts-form-address contacts-form-address_first">
            <div class="service-text p-0">Ваше имя*</div>
            <input class="form-info" type="text" placeholder="Василий Петров" required>
        </div>
        <div class="contacts-form-address">
            <div class="service-text p-0">Название вашей компании</div>
            <input class="form-info" type="text" placeholder='ООО «Компания»'>
        </div>
        <div class="contacts-form-address">
            <div class="service-text p-0">Ваш номер телефона*</div>
            <input class="form-info" type="text" placeholder='+7 (XXX) XXX-XX-XX' required>
        </div>
        <div class="contacts-form-address">
            <div class="service-text p-0">Ваша электронная почта</div>
            <input class="form-info" type="text" placeholder='example@gmail.com'>
        </div>
        <div>
            <input type="checkbox" id="cb1"> <label for="cb1"><div class="service-text p-0">Я ознакомлен(-а) с <a class="privacy-policy" href="privacy-policy.html" target="_blank">политикой конфиденциальности</a></div></label>
        </div>
        <button class="btn-more big-padding">Отправить заявку</button>
    </div>
    <div class="contacts-form new-form-with-logo ">
        <img src="img/big-logo-liner.svg">
    </div>
</div>