    <div class="contacts-block wow slideInUp" data-wow-duration="2s" data-wow-delay=".7s">
        <div class="container big flex">
            <div class="learn-more-form">
                <div class="learn-more-form-text">Узнать подробнее</div>
                <div class="contacts-form-address contacts-form-address_first">
                <div class="service-text p-0">Ваше имя*</div>
                <input class="form-info" type="text" placeholder="Василий Петров" required>
                </div>
                <div class="contacts-form-address">
                <div class="service-text p-0">Название вашей компании</div>
                <input class="form-info" type="text" placeholder='ООО «Компания»'>
                </div>
                <div class="contacts-form-address">
                    <div class="service-text p-0">Ваш номер телефона*</div>
                    <input class="form-info" type="text" name ="phone" placeholder='+7 (XXX) XXX-XX-XX' required>
                </div>
                <div class="contacts-form-address">
                    <div class="service-text p-0">Ваша электронная почта</div>
                    <input class="form-info" type="text" placeholder='example@gmail.com'>
                </div>
                <div>
                    <input type="checkbox" id="cb1"> <label for="cb1"><div class="service-text p-0">Я ознакомлен(-а) с <a class="privacy-policy" href="privacy-policy.html" target="_blank">политикой конфиденциальности</a></div></label>
                </div>
                <button class="btn-more big-padding">Отправить заявку</button>
            </div>
            <div class="contacts-form">
                <div class="learn-more-form-text">Контактная информация</div>
                <div class="contacts-form-address contacts-form-address_first">
                    <div class="service-text font-weight-bold p-0">Адрес</div>
                    <a class="service-text p-0" href="#">г.Иркутск, ул.Верхняя Набережная 161/16, Офис 7</a>
            </div>
                <div class="contacts-form-address">
                    <div class="service-text font-weight-bold p-0">Телефон</div>
                    <a class="service-text p-0" href="#">+7 (3952) 65-22-50</a>
                </div>
                <div class="contacts-form-address">
                    <div class="service-text font-weight-bold p-0">Время работы</div>
                    <div class="service-text p-0">9:00 – 18:00; суббота и воскресенье – выходные дни</div>
                </div>
                <div class="contacts-form-address">
                    <div class="service-text font-weight-bold p-0">Электронная почта</div>
                    <a class="service-text p-0" href="#">mkl-irkutsk@yandex.ru</a>
                </div>
                <button class="btn-more">Смотреть на карте</button>
            </div>
        </div>
    </div>